.home-container {
    background-color: #141416;
    height: 100vh;
    overflow: hidden;
  
    // .row {
    //   height: 100%;
    // }
  
    // .col-md-3,
    // .col-12 {
    //   height: 100%;
    // }
  }
  