.sidebar-container {
  background-color: #1b1c1e;
  padding: 16px;
  margin: 16px;
  border-radius: 8px;
  height: 95vh;
  display: flex;
  flex-direction: column;
  gap: 16px;

  .sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .sidebar-logo {
      width: 230px;
      max-width: 100%;
      min-width: 100px;
      height: auto;
      transition: width 0.3s ease;
    }

    button {
      background: transparent;
      border: none;
      padding: 0;
      cursor: pointer;
      transition: transform 0.3s ease;

      .SidebarIcon {
        width: clamp(24px, 4vw, 32px);
        height: auto;
      }

      &:hover {
        opacity: 0.8;
      }

      &:focus {
        outline: none;
      }
    }
  }

  .sidebar-body {
    flex-grow: 1;
    overflow-y: auto;

    .conversation-group {
      margin-bottom: 10px;

      .conversation-date {
        font-size: 14px;
        color: #fff;
        margin-top: 10px;
        margin-bottom: 10px;
        height: 16px;
        font-weight: 700;
      }

      .conversation-item {
        padding: 8px;

        .conversation-button {
          background-color: transparent;
          border: none;
          width: 100%;
          text-align: left;
          cursor: pointer;

          &:hover {
            opacity: 0.8;
          }

          .conversation-snippet {
            margin: 0;
            font-weight: 400;
            font-size: 14px;
            color: #7B7B7B;
          }
        }
      }
    }
  }

  button.custom-button {
    margin-top: auto;
  }
}
