@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

:root{
    --font-family: 'Roboto', sans-serif
    --left-side: #1B1C1E;
    --right-side: #141416;
    --background-button: #00B4F1;
    --color-button: #000000;
    --title-texts: #7B7B7B;
    --data-texts: #FFFFFF;
}